<!-- Create Blog Form -->
<div id="formModal" class="modal">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <form id="blogForm">
      <input type="text" id="title" placeholder="Blog Title" />
      <textarea id="content" placeholder="Blog Content"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
</div>
