/* Header CSS */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100px;
  margin: 0;

  gap: 150px;
  border-bottom: 1px solid black;
}

header a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

header a:hover,
button:hover {
  text-decoration: underline;
}

h2 {
  font-size: 32px;
}

#createPostBtn {
  background: none;
  border: none;

  font-size: 20px;
  cursor: pointer;
}
